Account bitch

<form name="myForm" ng-submit="alertMe()">

	<button id="test" ng-click='changeName()' >Yo</button>

<p>{{ count }}</p>

  <div class="form-group">
    <label >Enter name:</label>
    <div class="input-group">
      <input type="text" class="form-control" required  ng-model="name">
      <span class="input-group-btn">
        <button ng-disabled="myForm.$invalid" type="submit" class="btn btn-primary">Add New</button>
      </span>
    </div>
  </div>

</form>
  Hello <span class="btn btn-{{name}}" ng-bind="name" style="color:red; font-size:82px;" ></span>!
  <div ng-bind-html='name'></div>
<ul>
    <li ng-repeat="user in users">

        <button class="btn btn-primary">{{user.name}}</button>
        <span ng-repeat="color in user.colors">

        <span style="color:{{color}};">{{color}}</span>
    </span>
    </li>
</ul>
